/* How to add a custom css: https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html */
@import 'theme.css';

@font-face {
  font-family: 'Roboto'; /*a name to be used later*/
  src: url('./Roboto/Roboto-Regular.ttf'); /*URL to font*/
}

body{
  font-family:"Roboto";
}

a {
    font-weight:500;
    color:#0E0EAC;
    text-decoration:none;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    display: inline-block;
}

.accent {
    color: #26E29E;
  }

.heading h1:after, .panel-heading h1:after, .heading h2:after, .panel-heading h2:after, .heading h3:after, .panel-heading h3:after, .heading h4:after, .panel-heading h4:after, .heading h5:after, .panel-heading h5:after, .heading h6:after, .panel-heading h6:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin-top: .6rem;
    background: #E1e140;
  }

  .dropdown-item.active, .dropdown-item:active {
    background: #FC207C;
  }


.icon-filled {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #0E0EAC;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 0.75rem;
  }

.form-control:focus {
    border-color: #FC207C;
    -webkit-box-shadow: 0 0 0 0.2rem #aec2df;
    box-shadow: 0 0 0 0.2rem #aec2df;
  }

.card-primary {
    border-radius: 0;
    border-color: #26E29E;
  }
  
.card-primary .card-header {
    background: #26E29E;
    color: #fff;
    border: none;
    border-radius: 0;
  }

.card-primary .card-body {
    border-color: #E1e140;
  }

#navbar .dropdown-menu a.nav-link:hover {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    color: #FC207C;
  }

#navbar .navbar-nav > li.active > a {
    background: #E1e140 !important;
    color: #fff !important;
    text-decoration: none !important;
    border-color: #26E29E !important;
  }


#navbar .navbar-nav > li > a:hover {
background: #aec2df;
border-color: #FC207C;
}

#navbar .navbar-nav > li > a:focus {
background: #E1e140 !important;
color: #fff !important;
text-decoration: none !important;
border-color: #26E29E !important;
}

#navbar.nav-light .navbar-nav > li.active a.dropdown-toggle,
#navbar.nav-light .navbar-nav > li.active a.dropdown-toggle:hover {
background: none !important;
color: #555 !important;
text-decoration: underline !important;
border-color: #FC207C !important;
}

#navbar.nav-light .navbar-nav > li > a:hover {
background: none !important;
border-color: #26E29E !important;
}

#navbar.nav-light .navbar-nav > li > a:focus {
background: none !important;
color: #555 !important;
text-decoration: underline !important;
border-color: #FC207C !important;
}


@media (max-width: 991px) {
#navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#navbar .menu-large .megamenu {
    width: 100%;
    left: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
}
#navbar .navbar-collapse {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 1rem;
}
#navbar .navbar-nav > li > a {
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    border-top: 0;
    font-size: 0.85rem;
    width: 100%;
}
#navbar .navbar-nav > li > a:hover {
    background: #aec2df;
    border-color: #26E29E;
}
#navbar .dropdown-menu {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}

.btn {
text-transform: uppercase;
letter-spacing: 0.1em;
}

.btn-template-main {
background: #FC207C;
border: 1px solid #FC207C !important;
color: #fff !important;
border-radius: 0 !important;
text-decoration: none;
}

.btn-template-main:hover, .btn-template-main:focus {
background: #26E29E;
color: #fff !important;
border-color: #26E29E !important;
}

.btn-template-white {
background: #fff;
color: #FC207C !important;
border: 1px solid #FC207C !important;
border-radius: 0 !important;
text-decoration: none;
}

.btn-template-white:hover, .btn-template-white:focus {
background: #FC207C !important;
color: #fff !important;
}

.btn-template-outlined {
background: none;
border: 1px solid #FC207C !important;
color: #FC207C;
border-radius: 0 !important;
text-decoration: none;
}

.btn-template-outlined:hover, .btn-template-outlined:focus {
background: #FC207C;
color: #fff !important;
}


.btn-template-outlined-white:hover, .btn-template-outlined-white:focus {
    background: #fff;
    color: #FC207C !important;
  }
  
.project .owl-dot.active span {
    background: #FC207C !important;
  }
  
  
.project .owl-nav .owl-prev, .project .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #E1e140;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

.project .owl-nav .owl-prev:hover, .project .owl-nav .owl-next:hover {
    background: #26E29E;
    color: #fff;
  }

p a code{
    font-weight:400;
    color:#E1e140
}

.nav-links a.router-link-active,.nav-links a:hover{
    color:#26E29E
}

.vp-sidebar .toctree-l1 a.current,.vp-sidebar .toctree-l2 a.current{
    color:#FC207C;
    font-weight:600
}

.vp-sidebar .toctree-l1 a:hover,.vp-sidebar .toctree-l2 a:hover{
    color:#26E29E
}

.vp-sidebar .toctree-l1.current a{border-left:.5rem solid #26E29E}

.vp-sidebar .toctree-l1 a.current{border-left-color:#FC207C}
